@import url('http://fonts.googleapis.com/css?family=Esteban|Trocchi|Oleo+Script+Swash+Caps');

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes rollIn {
  0% { opacity: 0; -webkit-transform: translateX(-100%) rotate(-120deg); }  100% { opacity: 1; -webkit-transform: translateX(0px) rotate(0deg); }
}

@-moz-keyframes rollIn {
  0% { opacity: 0; -moz-transform: translateX(-100%) rotate(-120deg); }
  100% { opacity: 1; -moz-transform: translateX(0px) rotate(0deg); }
}

@-o-keyframes rollIn {
  0% { opacity: 0; -o-transform: translateX(-100%) rotate(-120deg); }
  100% { opacity: 1; -o-transform: translateX(0px) rotate(0deg); }
}

@keyframes rollIn {
  0% { opacity: 0; transform: translateX(-100%) rotate(-120deg); }
  100% { opacity: 1; transform: translateX(0px) rotate(0deg); }
}

@-webkit-keyframes rollOut {
  0% { opacity: 1; -webkit-transform: translateX(0px) rotate(0deg); }
  100% { opacity: 0; -webkit-transform: translateX(100%) rotate(120deg); }
}

@-moz-keyframes rollOut {
  0% { opacity: 1; -moz-transform: translateX(0px) rotate(0deg); }
  100% { opacity: 0; -moz-transform: translateX(100%) rotate(120deg); }
}

@-o-keyframes rollOut {
  0% { opacity: 1; -o-transform: translateX(0px) rotate(0deg); }
  100% { opacity: 0; -o-transform: translateX(100%) rotate(120deg); }
}

@keyframes rollOut {
  0% { opacity: 1; transform: translateX(0px) rotate(0deg); }
  100% { opacity: 0; transform: translateX(100%) rotate(120deg); }
}

.rollIn {
  -webkit-animation-name: rollIn;
  -moz-animation-name: rollIn;
  -o-animation-name: rollIn;
  animation-name: rollIn;
}

.rollOut {
  -webkit-animation-name: rollOut;
  -moz-animation-name: rollOut;
  -o-animation-name: rollOut;
  animation-name: rollOut;
}

body {
  background-color: #fff;
  font-family: 'Esteban', serif;
  margin: 10px;
  overflow-x: hidden;
}

body.animating {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 6px;
}

h1,
h2,
h3 {
  font-family: 'Trocchi', serif;
}

h1 {
  padding-top: 12px;
  background-color: #eee;
}

h1:first-letter,
h2:first-letter,
h3:first-letter {
  font-family: 'Oleo Script Swash Caps', cursive;
  text-transform: capitalize;
  background-color: #cecece;
}

h1:first-letter,
h2:first-letter {
  font-size: 2.5em;
}

h2:first-letter,
h3:first-letter {
  background-color: #eee;
}

h3:first-letter {
  font-size: 1.8em;
}

h4 {
  border-bottom: 1px dotted #ddd;
}

ul {
  margin: 0 20px;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  text-indent: 10px;
  color: #555;
}

li:before {
  content: "Ξ";
  color: #ccc;
  position: absolute;
  margin-left: -25px;
}

li > a {
  margin-left: 15px;
}

p {
  text-indent: 15px;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted #aaa;
}

a:hover {
  border-bottom-color: #555;
}

blockquote:before {
  content: "“";
  position: absolute;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 3em;
  color: #ccc;
  margin-top: -10px;
  margin-left: -28px
}

blockquote p {
  text-indent: 0;
}

pre {
  border-left: 15px solid #eee;
  border-bottom: 1px dotted #eee;
  padding-left: 23px;
  padding-bottom: 8px;
  position: relative;
}

pre:before {
  content: "¬";
  position: absolute;
  left: 0;
  color: #dedede;
  font-size: 3em;
  margin-top: -22px;
  margin-left: -17px;
}

img {
  width: 100%;
  border: 1px solid #ccc;
  border-right: 0;
  border-bottom: 0;
  padding: 8px 0 8px 8px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
  -webkit-filter: hue-rotate(21deg) contrast(82%) grayscale(100%) blur(.77px);
}

em {
  color: #777;
}

[data-showup] {
  transition: padding 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.gutter {
  transition: left 300ms;
}

[data-showup] {
  width: 95%;
  margin: auto;
  -webkit-animation-duration: 750ms;
  -webkit-animation-delay: 0;
}

.gutter {
  position: fixed;
  z-index: 1;
  width: 350px;
  top: 0;
  left: -377px;
  bottom: 0;
  background-color: #aaa;
  border-right: 22px solid #999;
  box-shadow: 1px -3px 11px #ccc;
}

.gutter p {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-indent: 0;
  padding: 8px;
  background-color: #bbb;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 1.8em;
  color: #ddd;
}

.gutter p:last-child:after {
  content: "... ";
}

.gutter.active {
  left: 0;
}

[data-showup].gutter-visible {
  padding-left: 400px;
}

.cols {
  -webkit-column-rule: 1px dotted #eee;
  -webkit-column-gap: 14px;
  -webkit-column-count: 1;
}

.cols h1,
.cols h2,
.cols h3 {
  /*-webkit-column-span: all;*/
}

@media screen and (min-width: 500px) {
  .cols {
    -webkit-column-count: 2;
  }
}
